{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">Success</h1>
        </div>

        <div class="row">

         Авто успешно создано

        </div><!-- /.row -->

    </div>

{% endblock %}
